<html>
  <head>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" [routerLink]="'/buyer-landing-page'">Emart</a>
    
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/view-profile'">View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/purchase-history'">Purchase History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/view-cart'">View Cart</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="'/view-cart'">
            <span class="glyphicon glyphicon-shopping-cart" style="height:22px;width: 30px;" aria-hidden="true">
              <label style="vertical-align: top;color:whitesmoke;" >{{count}}</label>
            </span>
          </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="'/buy-product'">Buy</a>
        </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <div class="topnav-right"> 
             <button class="btn btn-danger" (click)="Logout()">SignOut</button>
        </div>
    </nav>
    </header>
    <main class="bg">   
        <br/>
        <br/>
        <div class="text-center">
                <input type="text" class="mr-sm-2" aria-label="Search" [(ngModel)]="itemname">&nbsp;
                <button class="btn btn-success" type="submit" (click)="Search(itemname)">Search</button>
                <br/>
                <h5 style="color: whitesmoke;">Click Here For Advanced Search...</h5>
                <button style="width: 30%;" class="btn btn-primary text-uppercase" type="button" (click)="Show()">Advanced Search</button>  
        </div>
        <br/>
        <div class="text-center" [hidden]="isShow">
          <label style="color: whitesmoke;"><h5>Search By Category:&nbsp;</h5></label> 
          <select [(ngModel)]="category">   
              <option *ngFor="let item of clist" value="{{item.categoryId}}">{{item.categoryName}}</option>
            </select>&nbsp;
            <button class="btn btn-primary" type="button" (click)="SearchByCategory(category)">Search</button>
        </div>
        <br/>

        
        <div class="container">
          <div class="row">
            <div class="col-md-3" *ngFor="let item of list">
                <div class="card bg-dark" style="width:250px;height: 500px;" >
                  <h5 class="card-title" style="color: whitesmoke;">{{item.itemName}}</h5>
                   <img class="card-img mx-5" id="i1" src="/assets/Images/{{item.imagename}}" style="width: 150px;height:150px;" alt="Card image cap"> 
                    <div class="card-body" style="color: whitesmoke;">
                      ItemId:{{item.id}}<br/>
                      CategoryId:{{item.categoryId}}<br/>
                      SubCategoryId:{{item.subcategoryId}}<br/>
                       SellerId: {{item.sellerid}}<br/>
                       Price: {{item.price}}<br/>
                        Description:{{item.description}}<br/>
                        Stock Number:{{item.stockNumber}}<br/>
                        Remarks:{{item.remarks}}     
                  </div>
                  <div class="card-footer">
                    <div class="text-center">
                      <button class="btn btn-primary mr-1" (click)="Buy(item)" >Buy Now</button>
                      <button class="btn btn-outline-info" (click)="AddtoCart(item)" >AddToCart</button>
                  </div>     
                  </div>  
                </div>
                <br>
              </div>
            </div>
          </div>

<!-- 
          <div class="container">
          <div class="row">
            <div class="card bg-dark" *ngFor="let item of list" style="width:250px;">
              <img class="card-img-top" src="/assets/Images/{{item.imagename}}" alt="Card image cap">
              <h5 class="card-title" style="color: whitesmoke;">{{item.itemName}}</h5>
              <div class="card-body" style="color: whitesmoke;">
                ItemId:{{item.id}}<br/>
                CategoryId:{{item.categoryId}}<br/>
                SubCategoryId:{{item.subcategoryId}}<br/>
                SellerId: {{item.sellerid}}<br/>
                Price: {{item.price}}<br/>
                Description:{{item.description}}<br/>
                Remarks:{{item.remarks}}   
                  <br/>
                   <br/>
                  <button type="button" class="btn btn-primary" (click)="Buy(item)">Buy Now</button>&nbsp;
                  <button type="button" class="btn btn-primary" (click)="AddtoCart(item)">AddToCart</button> 
                </div>
                </div>
          </div>
        </div> -->
    </main>
    <router-outlet></router-outlet>
  </body>
</html>
