
<html>
    <head></head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" [routerLink]="'/admin'">Emart</a>
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/daily-reports'" style="color: whitesmoke;">Daily Reports</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/block-or-unblock-buyer'" style="color: whitesmoke;">Block Or UnBlock Buyer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/block-or-unblock-seller'" style="color: whitesmoke;">Block or UnBlock Seller</a>
                  </li> -->
                  <!-- Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="color: whitesmoke;">
                      Categories
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" [routerLink]="'/add-category'">Add Category</a>
                      <a class="dropdown-item" [routerLink]="'/add-sub-category'">Add SubCategory</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="color: whitesmoke;">
                      View
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" [routerLink]="'/view-category'">View Categories</a>
                      <a class="dropdown-item" [routerLink]="'/view-sub-category'">View Subcategories</a>
                    </div>
                  </li>
                </ul>
                <div class="offset-8">
                  <button class="btn btn-danger" (click)="Logout()">SignOut</button>
                </div>
              </nav>
        </header>
        <main class="bg">
            <div>
                <div class="container">
                       <br/> 
                    <table class="table table-bordered">
                      <tr style="color: whitesmoke;" class="text-center">
                        <th>Category ID</th>
                        <th>CategoryName</th>
                        <th>Description</th>
                        <th colspan="2">Edit/Delete</th>
                      </tr>
                      <tr *ngFor="let item of clist" style="color: whitesmoke;">
                        <td>{{item.categoryId}}</td>
                        <td>{{item.categoryName}}</td>
                        <td>{{item.briefDetails}}</td> 
                        <td>
                            <button class="btn btn-primary btn-block text-uppercase" data-toggle="modal" data-target="#myModal" (click)="Edit(item)">Edit</button>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-danger btn-block text-uppercase" (click)="Delete(item.categoryId)">Remove</button>
                          </td>
                        </tr>
                      </table>
                  </div>
             </div>    
             <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title text-center">Edit</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="RegisterForm7">    
                        <div class="form-group">
                          <label>categoryId ID</label>
                           <input type="text" formControlName="categoryid" class="form-control" readonly="readonly"/> 
                          <!-- <select formControlName="id" class="form-control" (change)="Search()">
                              <option *ngFor="let item of list" value="{{item.id}}">{{item.id}}</option>
                          </select> -->
                        </div>
                          <div class="form-group">
                              <label>categoryName</label>
                              <input type="text" formControlName="categoryname" class="form-control" />
                          </div>
                          <div class="form-group">
                              <label>Description</label>
                              <textarea type="text" formControlName="briefdetails" class="form-control"></textarea>
                          </div>
                      <hr class="my-5 bg-success"/>
                      <div class="form-group">
                        <button class="btn btn-primary btn-block text-uppercase"  (click)="Update()">Update</button>
                      </div>
                      </form>
                </div>
              </div>
              </div>
            </div>
            
        </main>
    </body>
    <router-outlet></router-outlet>
</html>