<html>
  <head>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      
      <a class="navbar-brand" [routerLink]="'/buyer-landing-page'">Emart</a>
    
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/view-profile'">View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/purchase-history'">Purchase History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/search'">Search</a>
          </li>
        
        </ul>
        <div class="topnav-right offset-7"> 
             <button class="btn btn-danger" (click)="Logout()">SignOut</button>
        </div>
    </nav>
    </header>
    <main class="bg">   
        <br/>
        <br/>
        <div class="container">
            <div class="row">
              <div class="col-md-3" *ngFor="let item of cartlist">
                  <div class="card bg-dark" style="width:250px;height: 500px;" >
                    <h5 class="card-title" style="color: whitesmoke;">{{item.itemname}}</h5>
                     <img class="card-img mx-5" id="i1" src="/assets/Images/{{item.imagename}}" style="width: 150px;height:150px;" alt="Card image cap"> 
                      <div class="card-body" style="color: whitesmoke;">
                        ItemId:{{item.id}}<br/>
                        CategoryId:{{item.categoryid}}<br/>
                        SubCategoryId:{{item.subcategoryid}}<br/>
                         SellerId: {{item.sellerid}}<br/>
                         Price: {{item.price}}<br/>
                          Description:{{item.description}}<br/>
                          Stock Number:{{item.stocknumber}}<br/>
                          Remarks:{{item.remarks}}     
                    </div>
                    <div class="card-footer">
                      <div class="text-center">
                        <button class="btn btn-primary mr-1" (click)="BuyNow(item)" >Buy Now</button>
                        <button class="btn btn-danger mr-1" (click)="Remove(item.cartid)">Remove</button>
                    </div>
                    </div>     
                  </div>
                  <br>
                </div>
              </div>
            </div>
    </main>
    <router-outlet></router-outlet>
  </body>
</html>
