<html>
    <head></head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" href="#">Logo</a>
              
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/daily-reports'">Daily Reports</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/block-or-unblock-buyer'">Block Or UnBlock Buyer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/block-or-unblock-seller'">Block or UnBlock Seller</a>
                  </li>
                  <!-- Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                      Categories
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" [routerLink]="'/add-category'">Add Category</a>
                      <a class="dropdown-item" [routerLink]="'/add-sub-category'">Add SubCategory</a>
                    </div>
                  </li>
                  <li>
                      <div>
                        <button class="btn btn-danger" (click)="Logout()">SignOut</button>
                      </div>
                    </li>
                </ul>
              </nav>
        </header>
        <main class="bg">
            <div class="jumbotron">
                <div class="container offset-3">
                    <div class="row">
                        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
                            <div class="card card-signin my-5 bg-dark">
                            <h5 class="card-header text-center" style="color: whitesmoke;">Add SubCategory</h5>
                                <div class="card-body">
                                    <form [formGroup]="RegisterForm3" (ngSubmit)="onSubmit()">    
                                        <div class="form-group">
                                            <label style="color: whitesmoke;">SubCategory Name</label>
                                            <input type="text" formControlName="subcategoryname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryname.errors }" />
                                            <div *ngIf="submitted && f.subcategoryname.errors" class="invalid-feedback">
                                                <div *ngIf="f.subcategoryname.errors.required">SubCategoryName is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: whitesmoke;">Choose Category</label>
                                            <select formControlName="categoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryid.errors }">
                                                <option *ngFor="let item of categorylist" value="{{item.categoryId}}">{{item.categoryName}}</option>
                                            </select>
                                            <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
                                                <div *ngIf="f.categoryid.errors.required">CategoryId is required</div>
                                            </div>
                                            <!-- <input type="text" formControlName="categoryid" class="form-control" /> -->
                                        </div>
                                        <div class="form-group">
                                            <label style="color: whitesmoke;">Brief Details</label>
                                            <textarea type="text" formControlName="briefdetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.briefdetails.errors }"></textarea>
                                            <div *ngIf="submitted && f.briefdetails.errors" class="invalid-feedback">
                                                <div *ngIf="f.briefdetails.errors.required">Details about SubCategory is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label style="color: whitesmoke;">GST</label>
                                            <input type="text" formControlName="GST" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.GST.errors }" />
                                            <div *ngIf="submitted && f.GST.errors" class="invalid-feedback">
                                                <div *ngIf="f.GST.errors.required">GST is required</div>
                                                <div *ngIf="f.GST.errors.pattern">Enter in NO's Only</div>
                                            </div>
                                        </div>
                                        <hr class="my-4 bg-success"/>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary mr-1">Add</button>
                                                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>    
        </main>
    </body>
    <router-outlet></router-outlet>
</html>