<html>
    <head>
    </head>
    <body>
        <header class="header_area">
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">EmartLogo</a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'home'" style="color: whitesmoke;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/login'" style="color: whitesmoke;">Login/SignUp</a>
              </li>
            </ul>
          </nav>   
        </header>
        <main>
          <div class="jumbotron">
          <div class="container offset-3">
              <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
                  <div class="card card-signin my-5 bg-dark">
                    <h5 class="card-header text-center" style="color: whitesmoke;">Buyer SignUp</h5>
                    <div class="card-body">
                      <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label style="color: whitesmoke;">UserName</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                                <div *ngIf="f.username.errors.pattern">Enter a valid Username</div>
                            </div>
                        </div>

                        <div class="form-group">
                          <label style="color: whitesmoke;">Password</label>
                          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">Password is required</div>
                              <div *ngIf="f.password.errors.pattern">Password must be at least 6 characters and Alphanumeric</div>
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label style="color: whitesmoke;">Email</label>
                          <input type="text" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
                            <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                              <div *ngIf="f.emailid.errors.required">Email is required</div>
                              <div *ngIf="f.emailid.errors.pattern">Email must be a valid email address</div>
                            </div>
                        </div>
                     
                     <div class="form-group">
                        <label style="color: whitesmoke;">Mobile</label>
                        <input type="text" formControlName="mobile" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                          <div *ngIf="f.mobile.errors.required">Mobile no is required</div>
                          <div *ngIf="f.mobile.errors.pattern">Mobile a 10-digit valid mobile no</div>
                        </div>
                    </div>

                    <div class="form-group">
                      <label style="color: whitesmoke;">Date</label>
                      <input type="date" formControlName="createddatetime"  class="form-control" required/>
                  </div>
                    <hr class="my-5 bg-success"/>
                    <div class="form-group">  
                      <div class="text-center">      
                        <div class="col-sm-offset-5 col-sm-20">
                           <button class="btn btn-primary mr-1" type="submit">SignUp</button>
                         <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button> 
                        </div>
                      </div>
                    </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </main>
      </body>
      <router-outlet></router-outlet>
</html>